.container {
  position:relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  justify-items: space-between;

}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
}

.card {
  flex-basis: 45%;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  font-size: 1.5rem;
}

.card p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


.ButtonContainer {
  display: flex;
  gap: 1rem;
  margin-top: 3rem
}

.TGIcon {
  height: 30px;
  width: 30px;
}

.XIcon {
  height: 18px;
  width: 18px;
}

.XIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.Slogan {
  color: yellow;
  font-size: 32px;
  font-family: 'RunescapeFont';
  z-index:4;
}

.Spline {
  display: flex;
  flex-grow: 0;
  justify-self: center !important;
  align-self: center !important;
  overflow: hidden;
  padding: 0.5rem;
}

.VisionButton {
  color: yellow;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.VerticalButtonsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}

@media (max-width: 500px) {
  .Spline {
    margin-top: -4rem;
  }

  .scrollTop {
    top: 0.8rem !important;
    position: absolute;
    width: 100%;
    height: auto;
    flex-shrink: 0; /* Prevent shrinking when the container shrinks */
  }

  .invertedScrollTop {
    position: absolute;
    bottom: -0.6rem !important;
    width: 100%;
    height: auto;
    flex-shrink: 0; /* Prevent shrinking when the container shrinks */
    transform: rotate(180deg);
    z-index: 2 !important;
  }


  .VerticalButtonsContainer {
    flex-direction: column;
    gap: 0.5rem;
  }

  .VisionButton {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-family: 'RunescapeFont';
  }

  .Slogan {
    margin-top: -2rem;
    font-size: 24px;
  }

  .Dialog {
    min-width: 85vw
  }
  
  .scrollTop {
    top: 40rem;  
  }

  .container {
    gap: 0.5rem;
  }
}

.scrollContainer {
  font-size: large;
  display: flex;
  flex-direction: column;
  max-height: 600px; /* Constrain the overall height */
  position: relative;
}

.scrollTop {
  top: -0.4rem;
  position: absolute;
  width: 100%;
  height: auto;
  flex-shrink: 0; /* Prevent shrinking when the container shrinks */
  z-index: -1;
}

.scrollBody {
  text-align: center;
  justify-content: center;
  flex: 1;
  overflow-y: auto;
  padding-inline: 50px;
  padding-bottom: 50px;
  padding-top: 10px;
  background-image: url('/assets/scrollBody.gif');
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center;
}

.invertedScrollTop {
  position: absolute;
  bottom: -1rem;
  width: 100%;
  height: auto;
  flex-shrink: 0; /* Prevent shrinking when the container shrinks */
  transform: rotate(180deg);
  z-index: 2;
}

.Address {
  margin-top: 0.5rem;
  color: cyan;
  font-size: 14px;
  font-family: 'RunescapeFont';
}

.Dialog {
  width: 50vw
}

.GnomeChild {
  position: absolute;
  bottom: 0rem;
  right: 2rem;
}

.GreenStack {
  font-size: 20px;
  color: green;
}

.memeButton {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ff9900;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px;
}

.phaserContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevent the canvas from blocking clicks on other elements */
  z-index: 0; /* Ensure it's above other elements */
}
